{{ define "main" }}

{{- partial "titlepage.html" . -}}

<h1 class="zinetitle-web">{{ .Title }}</h1>

{{- if in .Site.Params.mainSections .Type -}}
    {{- if ne "imprints" .Type -}}
        <div class="altformats">
            Alternate formats:
            <ul>
                <li><a href="./{{- .Title | urlize -}}.view.pdf">PDF (Reading)</a></li>
                <li><a href="./{{- .Title | urlize -}}.zine.pdf">PDF (Imposed for printing, Letter Size Paper)</a></li>
            </ul>
        </div>
    {{- end -}}
{{- end -}}

<div class="introduction">
    <div class="introduction-container">
        {{ .Content }}
    </div>
</div>

{{- range .Resources.ByType "page" -}}
    {{ .Page.Store.Delete "footnote_counter" }}
    {{ .Page.Store.Set "footnote_counter" 0 }}
    {{ $.Page.Store.Set "this_article_name" .File }}
    {{ .Page.Store.Set "footnotes" slice }}
    
    <article class="article">
        <h2 class="title"><a href="#{{- .File -}}">{{ .Title }}</a></h2>
        <address class="meta">
            {{ if .Params.author_url }}
                <a class="author" rel="author" href="{{- .Params.author_url -}}">
            {{ end }}
            {{- .Params.author -}}
            {{- if .Params.author_url -}}
                </a>
            {{- end -}}
            {{- if .Params.original_date -}}
            <time datetime="{{ dateFormat " 2006-01-02" .Params.original_date }}">{{ dateFormat ":date_medium"
                .Params.original_date }}</time>
            {{- end -}}
            {{- if .Params.original_url -}}
                <div class="original_url_web"><a href="{{- .Params.original_url -}}">Originally Published</a></div>
                <div class="original_url_print">Originally published: {{ .Params.original_url }}</div>
            {{- end -}}
        </address>

        {{ if isset .Params "tldr" }}
        <div class="tldr">
            <strong>tl;dr:</strong>
            {{ .Params.tldr }}
        </div>{{ end }}
        <div class="body">
            {{ .Content }}
        </div>

        {{- if gt (.Page.Store.Get "footnotes" | len) 0 -}}
            <div class="printonly-footnotes">
                Footnotes:
                <ol>
                    {{- range .Page.Store.Get "footnotes" -}}
                    <li><a id="{{- .identifier -}}"><a href="{{ .reference | safeURL }}">{{- .reference -}}</a></li>
                    {{- end -}}
                </ol>
            </div>
        {{- end -}}
    </article>

{{- end -}}

{{- partial "spacers.html" . -}}

<!-- *All* content has to go before this end! -->
{{ end }}
