<head lang="{{ .Site.Language.Lang }}">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
	<title>{{ $siteTitle }} | Home </title>
	<meta property="og:title" content="{{ $siteTitle }} | Home">
	{{- else -}}
	<title>{{ $title }} - {{ $siteTitle }}</title>
	<meta property="og:title" content="{{ $title }}">
	{{- end -}}

	<meta property="og:site_name" content="{{ $siteTitle }}">

	{{- if isset .Site.Params "favicon" -}}
	<link rel="icon" type="image/png" href={{ .Site.Params.favicon }}>
	{{- end -}}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
	<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">
	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{ $style := resources.Get "css/main.css" | fingerprint }}
	<link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">

	{{ $style := resources.Get "css/print.css" | fingerprint }}
	<link rel="stylesheet" type="text/css" media="print" href="{{ $style.RelPermalink }}">

	<!-- Custom CSS style get applied last -->
	{{- if isset .Site.Params "customcss" }}
		{{ range .Site.Params.customCSS }}
		{{ $customstyle := resources.Get . | fingerprint }}
		<link rel="stylesheet" type="text/css" href="{{ $customstyle.RelPermalink }}">
		{{ end }}
	{{- end -}}
	{{- range .Site.Params.customJS }}
	{{- if or (hasPrefix . "http://") (hasPrefix . "https://") }}
	<script src="{{ . }}"></script>
	{{- else if (hasPrefix . "<script")}}
    {{ .| safeHTML }}
	{{- else }}
	<script src="{{ absURL . }}"></script>
	{{- end }}
	{{- end }}

	<link rel="alternate" type="application/atom+xml" href="/index.xml">

	{{- if .Params.special_font_size -}}
	<style>
		@media print {
			p, ul, ol {
				font-size: {{- .Params.special_font_size -}};
			}
		}
	</style>
	{{- end -}}

</head>
